html,
body {
  height: 100%;
}

#elm {
  height: 100%;
}

#elm header {
  height: 2.533333rem;
  background: #0092ff;
  position: relative;
}

#elm header .ss {
  height: 0.6rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  color: #cccccc;
}

#elm header .seacher1 {
  width: 9.293333rem;
  height: 1rem;
  position: absolute;
  left: 0.266667rem;
  bottom: 0.213333rem;
  margin-left: 0.133333rem;
  color: #ffffff;
}

#elm main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#elm main .main1 {
  width: 4.693333rem;
}

#elm main .main1 .list1 {
  display: flex;
  flex: 1;
}

#elm main .main1 .list1 li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}

#elm main .main1 .list1 span {
  display: block;
  margin-top: 0.573333rem;
  margin-right: 1.066667rem;
}

#elm main .main1 .list1 img {
  width: 1.093333rem;
  height: 0.986667rem;
}

#elm main .main1 .list1 p {
  font-size: 0.306667rem;
  line-height: 0.306667rem;
  height: 0.306667rem;
  text-align: center;
  margin-top: 0.346667rem;
  margin-left: -1.066667rem;
}

#elm main .main1 .list2 {
  display: flex;
  flex: 1;
}

#elm main .main1 .list2 li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}

#elm main .main1 .list2 span {
  display: block;
  margin-top: 0.573333rem;
  margin-right: 0.933333rem;
}

#elm main .main1 .list2 img {
  width: 1.093333rem;
  height: 0.986667rem;
}

#elm main .main1 .list2 p {
  font-size: 0.306667rem;
  line-height: 0.306667rem;
  height: 0.306667rem;
  text-align: center;
  margin-top: 0.346667rem;
  margin-left: -0.933333rem;
}

#elm main .main2 {
  width: 9.44rem;
  height: 4.693333rem;
  background: #f5f5f5;
  margin-top: 0.666667rem;
  margin-left: 0.266667rem;
  position: relative;
}

#elm main .main2 h2 {
  font-size: 0.426667rem;
  font-weight: bold;
}

#elm main .main2 p {
  font-size: 0.32rem;
  color: #7a7a7a;
  line-height: 0.533333rem;
  height: 0.533333rem;
  margin-top: 0.533333rem;
}

#elm main .main2 .main2-2 {
  display: block;
  font-size: 0.32rem;
  line-height: 0.533333rem;
  height: 40px;
  margin-top: 0.533333rem;
  color: #a18874;
}

#elm main .main2 img {
  width: 3.6rem;
  height: 2.133333rem;
  position: absolute;
  left: 5.5rem;
  top: 1.6rem;
}

#elm main .main3 {
  width: 9.44rem;
  height: 2.066667rem;
  background: #f7e2ab;
  margin-left: 0.266667rem;
  position: relative;
}

#elm main .main3 h2 {
  font-size: 0.573333rem;
  font-weight: bold;
  color: #705c29;
  position: absolute;
  left: 0.266667rem;
  top: 0.533333rem;
}

#elm main .main3 h2 img {
  width: 0.78rem;
  height: 0.74rem;
}

#elm main .main3 .main3-1 {
  position: absolute;
  left: 3.666667rem;
  top: 0.633333rem;
}

#elm main .main3 .main3-2 {
  position: absolute;
  left: 7.666667rem;
  top: 0.633333rem;
}

#elm main .main4 {
  width: 9.44rem;
  height: 2.4rem;
  margin-left: 0.266667rem;
  background: url(../images/banner.webp);
  background-size: contain;
  background-position: center center;
}

#elm main .main5 {
  width: 9.44rem;
  height: 0.933333rem;
  margin-left: 0.266667rem;
  position: relative;
}

#elm main .main5 h2 {
  font-size: 0.373333rem;
  font-weight: bold;
  position: absolute;
  left: 3.866667rem;
  top: 0.266667rem;
}

#elm main .main5 .main5-1 {
  width: 0.533333rem;
  height: 0.533333rem;
  border: 1px solid #989898;
  position: absolute;
  left: 2.866667rem;
}

#elm main .main5 .main5-2 {
  width: 0.533333rem;
  height: 0.533333rem;
  border: 1px solid #989898;
  position: absolute;
  left: 5.866667rem;
}

#elm main .main6 {
  width: 9.44rem;
  height: 0.613333rem;
  margin-left: 0.266667rem;
}

#elm main .main6 li {
  margin-right: 1rem;
}

#elm main .main7 {
  width: 9.44rem;
  margin-left: 0.266667rem;
}

#elm main .main7 .content {
  width: 100%;
}

#elm main .main7 .main7-21 h2 {
  font-weight: bold;
}

#elm main .main7 .main7-21 h2 img {
  width: 1.8rem;
  height: 1.8rem;
}

#elm main .main7 .main7-21 h2 .main7-a {
  width: 0.9rem;
  height: 0.453333rem;
  background: #feeb23;
  text-align: center;
  color: #754e01;
  margin-right: 0.066667rem;
  margin-left: 0.233333rem;
}

#elm main .main7 .main7-21 .fen {
  margin-top: 0.246667rem;
}

#elm main .main7 .main7-21 .fen img {
  width: 1.946667rem;
  height: 0.466667rem;
  margin-left: 0.233333rem;
}

#elm main .main7 .main7-21 .fengniao {
  width: 1.333333rem;
  height: 0.4rem;
  background: #039dfd;
  margin-left: 1.0rem;
}

#elm main .main7 .main7-21 .yuan {
  margin-left: 0.233333rem;
}

#elm main .main7 .main7-21 .qq {
  width: 1.293333rem;
  height: 0.4rem;
  border: 0.013333rem solid grey;
  margin-left: 0.233333rem;
}

#elm main .main7 .main7-21 .www {
  margin-top: 0.246667rem;
}

#elm main .main7 .main7-21 .cc {
  margin-top: 0.246667rem;
  margin-left: 1.833333rem;
}

#elm main .main7 .main7-22 {
  height: 1.506667rem;
}

#elm main .main7 .main7-22 .main7-23 {
  margin-left: 2rem;
  position: relative;
  line-height: 0.606667rem;
}

#elm main .main7 .main7-22 .main7-23 .rr {
  width: 0.386667rem;
  height: 0.386667rem;
  background: #f77074;
}

#elm main .main7 .main7-22 .main7-23 select {
  position: absolute;
  bottom: 0.603333rem;
  left: 5.066667rem;
}

#elm footer {
  height: 1.44rem;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0rem;
}

#elm footer .footer-1 {
  width: 100%;
  flex: 4;
  display: flex;
  position: fixed;
}

#elm footer .footer-1 li {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#elm footer .footer-1 li img {
  width: 0.806667rem;
  height: 0.793333rem;
  margin-right: 1.866667rem;
}

#elm footer .footer-1 li span {
  font-size: 0.28rem;
  margin-left: -1.966667rem;
}
